@font-face {
    font-family: "inter";
    src: url("/src/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}
:root{
    --text-color: #f4f4f4;
    --text-color-hover: black;
}

*{
    margin: 0;
    padding: 0;
    font-family: "inter";
}
body{
    background-color: bisque;
}

.hero-section{
    height: 830px;
}

/* TODO FIX MANUAL TRANSITION */
.slider-wrapper{
    position: relative;
    height: 80vh;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider .mySlides{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    /* height: 830px; */
}

.mySlides img{
    height: 830px;
    width: 100%;
    opacity: 0.8;
}

.slide-text{
    font-size: 3rem;
    color: white;
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
}

.active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

/* TODO FIX MANUAL SLIDESHOW AND BETTER ANIMATION (LOOK THEM UP ON THE INTERNET)*/

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 75%;
    transition: opacity ease 0.25s;
}

.slider-nav a:hover{
    opacity: 1;
}


.header{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.logo{
    grid-column: 1/2;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 200px;
    height: auto;
}
.tab-lst{
    grid-column: 2/3;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
.header ul{
    list-style-type: none;
}
.header ul li{
    float: left;
}
.tab-lst li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    text-align: center;
    padding: 16px;
    transition: all .2s ease-in-out;
}
.tab-lst ul li a:hover{
    transform: scale(1.1);
}
.info-icons{
    grid-column: 3/4;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
.info-icons li a{
    display: block;
    padding: 16px;
    transition: all .2s ease-in-out;
}
.info-icons li a svg{
    stroke: var(--text-color);
}
.info-icons li a svg:hover{
    transform: scale(1.1);
}

/* services */
.services{
    height: 1200px;
    background-color: rgba(0, 255, 255, 0.445);
}

/* gallery */

.photo-gallery{
    height: 500px;
    background-color: brown;
    
}

.gallery-header{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.photo-card-list{
    margin: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.photo{
    justify-self: center;
}

.photo img{
    width: 400px;
}

/* reviews */
.review-lst{
    background-color: #717171;
}

/* where on the map */
.our-store{
    background-color: darkgreen;
}

/* FAQs */
.faq-section{
    background-color: hotpink;
}

/* footer */
.footer{
    background-color: salmon;
}